.content {
	margin-top: 10vh;
}
main {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	min-height: 100vh;
	margin-top: 10vh;
}
.success {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	/* min-height: 100vh; */
	margin-top: 5vh;
	/* space evenly */
	justify-content: space-evenly;
	text-align: center;
	line-height: 2vh;
}
.filler {
	max-height: 100vh;
	min-height: 5vh;
}
.title h1 {
	font-size: 64px;
	color: rgb(17, 17, 17);
}

.btn {
	font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
	color: #fbfbfd;
	background-color: #007aff;
	font-size: small;
	/* padding: 0.5vw; */
	padding: 0.8vh;
	text-decoration: none;
	border-radius: 15px;
	/* margin: 1vh; */
}
.btn:hover {
	background-color: #0071e3;
}
